.utilisateur{
  background-image: url("tt2.jpg");
  background-attachment: fixed;
  image-resolution:1080x;
  height: 2000px;

}
.table-dark {
  color: #fff;
  background-color: #343a408f;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(227 213 213 / 51%);
  background-clip: border-box;
  border: 1px solid #f8f9fa;
  border-radius: 0.25rem;
}

.informations{

  display: inline-block;
  width: 100%;
  font-family: Bahnschrift;
  margin-left: 15px;
  border-color: white;
}

.caracteristiques{

  display: inline-block;
  width: 60%;
  font-family: Bahnschrift;
  margin-left: 15px;
  color: floralwhite;
}
.detail{
  display: inline-block;
  //width: 38%;
  background-color: #333333;
  color:white;
  font-family: Bahnschrift;
  margin-left: 1px;
  margin-top: 35px;
  width: 100%;

}
.firstDetails{
  display: inline-block;
  width: 40%;
  font-family: Bahnschrift;
  text-align: left;
  margin-bottom: 5px;
}

.secondDetails{
  display: inline-block;
  width: 48%;
  font-family: Bahnschrift;
  text-align: left;
}
.pseudo{
  border-color: #d47719;
  border-style:solid;
  border-width: 1px;
  display: inline-block;
}
.card-header{

  background-color:darkgrey;
  text-align: center;
  font-family: BlinkMacSystemFont;
  display: block;
  width: 100%;
  border-color: white;
}
.card Xdetails{
  background-color:grey;
  text-align: center;
  font-family: BlinkMacSystemFont;
  display: block;
  width: 100%;
  border-color: white;
}
.btn-primary {
  color: #fff;
  background-color: #dc3545b8;
  border-color: #f8f9fa;
}
.bouton{
  text-align: center;
  display: inline-block;

  height: 5%;
  margin-top: 15px;
  margin-left: 35px;

}
.btn-warning {
  background-color: white;
  color:darkred;
  background-border:white;
  margin-left: 750px;
}
.le_div_visible {
  display: block;
  background: silver;
}

.le_div_masque {
  display: none;
}
.table-striped{

  background-color: rgb(227 213 213 / 51%);
  background-clip: border-box;
  border: 1px solid #f8f9fa;
  border-radius: 0.25rem;
}
.collapse{
  width: 100%;
}
