
<div class="utilisateur" >

  <div class="container-fluid utilisateur-info">
    <br>
    <br>

    <div class="row" *ngIf="!utilisateurForm">

      <div class="informations">

        <h4 style="text-align: center" >Listes des différents Joeurs :</h4>

      <!--  Pseudo : {{utilisateur.pseudo}} <br>
        Mail : {{utilisateur.mail}} <br>
        -->


        <div class="card-body">
          <table class="table table-dark">
            <thead>
            <tr>
              <th>Pseudo </th>
              <th>Nombre de Combats</th>
              <th>Xp </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let util of list()">

              <td>{{util.pseudo}}</td>
              <td>{{util.cptCombat}}</td>
              <td>{{util.exp}}</td>


              <a class="btn btn-primary" (click)="edit(util.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
              </svg>
              </a>


            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
    </div>


      <div class="row">
        <div class="caracteristiques">


          <div class="card mt-3" *ngIf="utilisateurForm">
            <div class="card-header">
              <h3>  Profil du Joueur : {{utilisateurForm.pseudo}} </h3>  <br>
            </div>

            <div class="informations">
              <!-- <h4 >Informations générales :</h4>

             - Mail : <input type="text" id="mail" [(ngModel)]="utilisateurForm.mail"> <br><br> -->

              <div class="row">
                <div class="caracteristiques">
                  <h4>Caractéristiques de votre Héro : </h4>

                  <strong>Xp : {{utilisateurForm.exp}} </strong> <br>
                  <strong>Arme : {{utilisateurForm.arme?.nom}} </strong><br>
                  <strong>Armure : {{utilisateurForm.armure?.nom}} </strong><br><br>

                    <strong>Votre inventaires :</strong> <br>

                  <label for="arme">Armes:</label>
                  <select class="form-control" id="arme" [(ngModel)]="utilisateurForm.inventaire.id">
                  <option *ngFor="let armes of ListInventaireArme()" [value]="utilisateurForm.id">
                   {{armes.arme.nom}} - attaque: {{armes.arme?.attaque}} - agilité: {{armes.arme?.agilite}} - description: {{armes.arme?.description}}  <br><br>
                    </option>
                    </select>

                  <label for="armure">Armures:</label>
                  <select class="form-control" id="armure" [(ngModel)]="utilisateurForm.inventaire.id">
                    <option *ngFor="let armures of ListInventaireArmure()" [value]="utilisateurForm.id">
                      {{armures.armure.nom}} - defense: {{armures.armure?.defense}} - vitesse: {{armures.armure?.vitesse}} - description: {{armures.armure?.description}}  <br><br>
                    </option>
                  </select>

                  <label for="potion">Potions:</label>
                  <select class="form-control" id="potion" [(ngModel)]="utilisateurForm.inventaire.id">
                    <option *ngFor="let potions of ListInventairePotion()" [value]="utilisateurForm.id">
                      {{potions.potion.nom}} - valeur: {{potions.potion?.valeur}}  <br><br>
                    </option>
                  </select>

                </div>

              </div>
            </div>



          </div>

          </div>


        <div class="bouton" *ngIf="utilisateurForm">
          <a  class="btn btn-primary" href="#MonCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">Détails de votre Héro </a>




<br>

            <section id="MonCollapse" class="collapse">
              <div class="card detail" *ngIf="utilisateurForm">
              <div class="well">


                <div class="firstDetails">
                  Vie : {{utilisateurForm.vie}}   <br>
                  Attaque : {{utilisateurForm.attaque}} <br>
                  Defense : {{utilisateurForm.defense}} <br>
                  Agilité : {{utilisateurForm.agilite}} <br>
                  Vitesse : {{utilisateurForm.vitesse}} <br>
                  Vie Max : {{utilisateurForm.vieMax}} <br>
                  Attaque Max : {{utilisateurForm.attaqueMax}} <br>
                  Défense Max : {{utilisateurForm.defenseMax}} <br>
                  Agilité Max : {{utilisateurForm.agiliteMax}} <br>
                  Vitesse Max : {{utilisateurForm.vitesseMax}} <br>

                </div>
                <div class="secondDetails">
                  Empoisonnement : {{utilisateurForm.cptEmpoisonnement}} <br>
                  Etourdissement : {{utilisateurForm.cptEtourdissement}} <br>
                  Saignement : {{utilisateurForm.cptSaignement}} <br>
                  Brulure : {{utilisateurForm.cptBrulure}} <br>
                  Saignement : {{utilisateurForm.cptSaignement}} <br>
                  Combat(s) : {{utilisateurForm.cptCombat}} <br>
                  Combat(s) gagné(s) :  {{utilisateurForm.cptCombatGagne}} <br>
                  Monstre(s) vaincu(s) : {{utilisateurForm.cptMonstreVaincu}} <br>
                </div>
              </div>
              </div>
            </section>
        </div>
</div>
  </div>


  <div class="bouton" *ngIf="utilisateurForm">
    <a  class="btn btn-primary" href="#MonCollapse2" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">Changer d'Hero </a>
    <a  class="btn btn-primary" href="#MonCollapse3" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">Changer d'Arme </a>
    <a  class="btn btn-primary" href="#MonCollapse4" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">Changer d'Armure </a>

    <br>
    <section id="MonCollapse2" class="collapse">
      <div  *ngIf="utilisateurForm">
        <table class="table table-striped">
          <thead>
          <tr>

            <th>Identifiant</th>
            <th>Nom</th>
            <th>Type de Personnage</th>
            <th>Vie </th>
            <th>Attaque </th>
            <th>Agilite </th>
            <th>Defense </th>
            <th>Vitesse </th>

            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let her of heros">
            <td>{{her.id}}</td>
            <td>{{her.nom}}</td>
            <td>{{her.typePersonnage}}</td>
            <td>{{her.vie}}</td>
            <td>{{her.attaque}}</td>
            <td>{{her.defense}}</td>
            <td>{{her.agilite}}</td>
            <td>{{her.vitesse}}</td>

            <td>
              <a class="btn btn-danger" (click)="choixHero(her,utilisateurForm)">Choisir Hero</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  <br>
    <section id="MonCollapse3" class="collapse">
      <div  *ngIf="utilisateurForm">
        <table class="table table-striped">
          <thead>
          <tr>

            <th>Identifiant</th>
            <th>Nom</th>
            <th>Type d'arme</th>
            <th>Attaque </th>
            <th>Agilite </th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let a of ListInventaireArme()">
            <td>{{a.arme.id}}</td>
            <td>{{a.arme.nom}}</td>
            <td>{{a.arme.typearme}}</td>
            <td>{{a.arme.attaque}}</td>
            <td>{{a.arme.agilite}}</td>
            <td>
              <a class="btn btn-danger" (click)="choixArme(a.arme,utilisateurForm)">Choisir arme</a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </section>

    <section id="MonCollapse4" class="collapse">
      <div  *ngIf="utilisateurForm">
        <table class="table table-striped">
          <thead>
          <tr>

            <th>Identifiant</th>
            <th>Nom</th>
            <th>Type d'armure</th>
            <th>Defense </th>
            <th>Vitesse </th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let ar of ListInventaireArmure()">
            <td>{{ar.armure.id}}</td>
            <td>{{ar.armure.nom}}</td>
            <td>{{ar.armure.typearmure}}</td>
            <td>{{ar.armure.defense}}</td>
            <td>{{ar.armure.vitesse}}</td>
            <td>
              <a class="btn btn-danger" (click)="choixArmure(ar.armure,utilisateurForm)">Choisir armure</a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </section>
  </div>


  <footer class="pt-4 my-md-5 pt-md-5 border-top" style="margin-top: 10px;">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">News du jeux</a></li>
          <li><a class="text-muted" href="#">News de l'équipe</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/accueil">Accueil</a></li>
          <li><a class="text-muted" href="/combat">Combat</a></li>
          <li><a class="text-muted" href="/marchand/1">Marchand</a></li>
          <li><a class="text-muted" href="/hero">Héros</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
