<router-outlet></router-outlet>
<div class="utilisateur" >

<div class="container-fluid utilisateur-info">
<br>
<br>
  

  <div class="row">
    <div class="informations">

      <h4 >Informations générales :</h4>

      Pseudo : {{utilisateur.pseudo}} <br>
      Mail : {{utilisateur.mail}} <br>


    </div>
  </div>
  <br>

    <div class="row">
      <div class="caracteristiques">
        <h4>Caractéristiques de votre Héro : </h4>

        <strong>Xp :</strong> {{utilisateur.exp}} <br>
       <strong>Arme : </strong> {{utilisateur.arme?.nom}} <br>
        <strong>Armure :</strong> {{utilisateur.armure?.nom}} <br> <br>

        <strong>Votre inventaires :</strong> <br> <br>

        <option *ngFor="let armes of ListInventaireArme()" [value]="utilisateur.id">
           - Arme : {{armes.arme?.nom}} - quantité: {{armes.quantite}} - attaque: {{armes.arme?.attaque}} - agilité: {{armes.arme?.agilite}} - description: {{armes.arme?.description}}  <br></option><br>

        <option *ngFor="let armures of ListInventaireArmure()" [value]="utilisateur.id">
          - Armure : {{armures.armure?.nom}} - quantité {{armures.qte}} - défense: {{armures.armure.defense}} - description: {{armures.armure?.description}} <br> </option> <br>

        <option *ngFor="let potions of ListInventairePotion()" [value]="utilisateur.id">
          - Potion : {{potions.potion?.nom}} - quantité: {{potions.qte}} - valeur: {{potions.potion.valeur}}  <br> </option> <br>

      </div>

      <br>

      <div class="detail">
       <!-- les boutons d'actions -->
        <a class="btn btn-primary" href="#MonCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">Détails de votre Héro </a>
        <br>

        <section id="MonCollapse" class="collapse">
        <div class="well">
        <br>

          <div class="firstDetails">
          Vie : {{utilisateur.vie}}   <br>
        Attaque : {{utilisateur.attaque}} <br>
        Defense : {{utilisateur.defense}} <br>
        Agilité : {{utilisateur.agilite}} <br>
        Vitesse : {{utilisateur.vitesse}} <br>
        Vie Max : {{utilisateur.vieMax}} <br>
        Attaque Max : {{utilisateur.attaqueMax}} <br>
        Défense Max : {{utilisateur.defenseMax}} <br>
        Agilité Max : {{utilisateur.agiliteMax}} <br>
        Vitesse Max : {{utilisateur.vitesseMax}}
          </div>
         <div class="secondDetails">
        Compteur Empoisonnement : {{utilisateur.cptEmpoisonnement}} <br>
        Compteur Etourdissement : {{utilisateur.cptEtourdissement}} <br>
        Compteur Saignement : {{utilisateur.cptSaignement}} <br>
        Compteur Brulure : {{utilisateur.cptBrulure}} <br>
          Compteur Saignement : {{utilisateur.cptSaignement}} <br>
        Compteur Combat : {{utilisateur.cptCombat}} <br>
        Compteur Combat gagné :  {{utilisateur.cptCombatGagne}} <br>
        Compteur Monstre(s) vaincu(s) : {{utilisateur.cptMonstreVaincu}} <br>
         </div>
        </div>
    </section>

  </div>
  </div>
</div>


  <div class="card mt-3" *ngIf="utilisateurForm">
    <div class="card-header bg-info text-white">
      <h3> Votre Profil de Joueur</h3>
    </div>

      <div class="informations">
        <h4 >Informations générales :</h4>

        Pseudo : <input type="text" id="pseudo" [(ngModel)]="utilisateurForm.pseudo"> <br>
        Mail : <input type="text" id="mail" [(ngModel)]="utilisateurForm.mail"> <br><br>

        <div class="row">
          <div class="caracteristiques">
            <h4>Caractéristiques de votre Héro : </h4>

            <strong>Xp :</strong> <input type="text" id="xp" [(ngModel)]="utilisateurForm.exp"> <br>
            <strong>Arme : </strong> <input type="text" id="arme" [(ngModel)]="utilisateurForm.arme.nom"><br>
            <strong>Armure :</strong> <input type="text" id="armure" [(ngModel)]="utilisateurForm.armure.nom"><br> <br>

            <strong>Votre inventaires :</strong> <br> <br>

            <option *ngFor="let armes of ListInventaireArme()" [value]="utilisateurForm.id">
              - Arme : {{armes.arme?.nom}} - quantité: {{armes.quantite}} - attaque: {{armes.arme?.attaque}} - agilité: {{armes.arme?.agilite}} - description: {{armes.arme?.description}}  <br></option><br>

            <option *ngFor="let armures of ListInventaireArmure()" [value]="utilisateurForm.id">
              - Armure : {{armures.armure?.nom}} - quantité {{armures.qte}} - défense: {{armures.armure?.defense}} - description: {{armures.armure?.description}} <br> </option> <br>

            <option *ngFor="let potions of ListInventairePotion()" [value]="utilisateurForm.id">
              - Potion : {{potions.potion?.nom}} - quantité: {{potions.qte}} - valeur: {{potions.potion?.valeur}}  <br> </option> <br>

          </div>

        </div>
      </div>

  </div>

</div>



