.utilisateur{
  background-color: #9490aa;
  height: 600px;
}

.informations{
  display: inline-block;
  width: 50%;
  font-family: Bahnschrift;
  margin-left: 45px;
}

.caracteristiques{
  display: inline-block;
  width: 40%;
  font-family: Bahnschrift;
  margin-left: 45px;
}
.detail{
  display: inline-block;
  width: 40%;
  font-family: Bahnschrift;
  margin-left: 165px;
  text-align: center;
}
.firstDetails{
  display: inline-block;
  width: 48%;
  font-family: Bahnschrift;
  text-align: left;
}

.secondDetails{
  display: inline-block;
  width: 48%;
  font-family: Bahnschrift;
  text-align: left;
}
.pseudo{
  border-color: #d47719;
  border-style:solid;
  border-width: 1px;
  display: inline-block;
}
