
  <div class="row ml-5 mr-5 mt-2" *ngIf="switchMarchand==1" >
    <div class="col-md-1 col-sm-1">
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">
        <div class="card-body">
          <div> Bienvenue cher voyageur !</div>
          <div> Que souhaitez vous faire ?</div>
      </div>
    </div>
  <br>
    <div class="container border double rounded-lg border-info  " style="width: 18rem;">

      <div class="card-body">
        <div class="list-group">
          <a href="#" (click)="listeAchatArme()" class="list-group-item list-group-item-action">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
             <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
              Acheter une arme</a>
          <a href="#" (click)="listeAchatArmure()" class="list-group-item list-group-item-action">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
              <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
              Acheter une armure</a>
          <a href="#" (click)="listeAchatPotion()" class="list-group-item list-group-item-action">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
              <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
              Acheter une potion</a>
          <a href="#" (click)="listeVenteArme()" class="list-group-item list-group-item-action">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
              <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
              Vendre une arme</a>
          <a href="#" (click)="listeVenteArmure()" class="list-group-item list-group-item-action">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
              <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
              Vendre une armure</a>
          <a href="#" (click)="listeVentePotion()" class="list-group-item list-group-item-action">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
              <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
              Vendre une potion</a>
        </div>
      </div>

    </div>

    </div>
  </div>

  <div class="row ml-5 mr-5 mt-2" *ngIf="switchMarchand==2" >
    <div class="col-md-1 col-sm-1">
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">
        <div class="card-body">
          <div> Voici toutes les armes que je possède.</div>
          <div> Que souhaitez vous faire ?</div>
        </div>
      </div>
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">

<!--        <div class="card-body">-->
<!--          <table class="table table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th>Identifiant</th>-->
<!--              <th>Version</th>-->
<!--              <th>Note comportementale</th>-->
<!--              <th>Note technique</th>-->
<!--              <th>Commentaires</th>-->
<!--              <th>Date d'évaluation</th>-->
<!--              <th></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let marchArme of list()">-->
<!--              <td>{{marchArme.id}}</td>-->
<!--              <td>{{marchArme.version}}</td>-->
<!--              <td>{{marchArme.comportemental}}</td>-->

<!--              <td>-->
<!--                <div class="btn-group btn-group-sm">-->
<!--                  <a class="btn btn-primary" (click)="edit(march.id)"><i class="fa fa-edit"></i></a>-->
<!--                  <a class="btn btn-danger" (click)="delete(march.id)"><i class="fa fa-trash"></i></a>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--          <a class="btn btn-success btn-lg" (click)="add()">-->
<!--            <i class="fa fa-plus"></i>-->
<!--          </a>-->
<!--        </div>-->

      </div>

    </div>
  </div>


  <div class="row ml-5 mr-5 mt-2" *ngIf="switchMarchand==3" >
    <div class="col-md-1 col-sm-1">
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">
        <div class="card-body">
          <div> Voici toutes les armures que je possède.</div>
          <div> Que souhaitez vous faire ?</div>
        </div>
      </div>
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">

      </div>
    </div>
  </div>

  <div class="row ml-5 mr-5 mt-2" *ngIf="switchMarchand==4" >
    <div class="col-md-1 col-sm-1">
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">
        <div class="card-body">
          <div> Voici toutes les potions que je possède.</div>
          <div> Que souhaitez vous faire ?</div>
        </div>
      </div>
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">

      </div>
    </div>
  </div>

  <div class="row ml-5 mr-5 mt-2" *ngIf="switchMarchand==5" >
    <div class="col-md-1 col-sm-1">
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">
        <div class="card-body">
          <div> Quelles armes souhaites tu me vendre ?</div>
          <div> Que souhaitez vous faire ?</div>
        </div>
      </div>
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">

      </div>
    </div>
  </div>

  <div class="row ml-5 mr-5 mt-2" *ngIf="switchMarchand==6" >
    <div class="col-md-1 col-sm-1">
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">
        <div class="card-body">
          <div> Quelles armures souhaites tu me vendre ?</div>
          <div> Que souhaitez vous faire ?</div>
        </div>
      </div>
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">

      </div>
    </div>
  </div>

  <div class="row ml-5 mr-5 mt-2" *ngIf="switchMarchand==7" >
    <div class="col-md-1 col-sm-1">
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">
        <div class="card-body">
          <div> Quelles potions souhaites tu me vendre ?</div>
          <div> Que souhaitez vous faire ?</div>
        </div>
      </div>
      <br>
      <div class="container border double rounded-lg border-info  " style="width: 18rem;">

      </div>
    </div>
  </div>


  <br>
  <br>
  <br>

<footer class="bg-dark text-light text-center">
  <p>Copyright @Andrew Lin</p>
</footer>
