<head>
  <title>Game</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

 <a class="navbar-brand" href="#" >TPTRPG</a>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/accueil']">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/utilisateur']">Mon Profil</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/hero']">Heros</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/marchand/1']">Marchand</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/combat']">Combat</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/connexion']">Se Connecter</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/inscription']">S'inscrire</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>

    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
<body></body>


<div >
  <router-outlet></router-outlet>
</div>

<footer class="navbar fixed-bottom bg-dark text-light ">
  <span class="txtcenter">coin-coin</span>
</footer>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->




  <!-- Copyright -->
    <p class="mb-1">&copy; 2021 FAXs Games</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
