<head>
  <title>Game</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

 <a class="navbar-brand" href="#" >TPTRPG</a>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/accueil']">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/utilisateur']">Mon Profil</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/hero']">Heros</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/marchand/1']">Marchand</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/combat']">Combat</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/connexion']">Se Connecter</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/inscription']">S'inscrire</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>

    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
<body></body>


<div >
  <router-outlet></router-outlet>
</div>

<footer class="navbar fixed-bottom bg-light text-dark ">

<div class="info_reseau">

  <!-- Copyright -->
    <p class="mb-1">&copy; 2021 FAXs Games</p>
</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
