.navbar-nav > li {
  padding-left: 40px;
  padding-right: 40px;
  font-family: Bahnschrift;
}
 .txtcenter {
    text-align: center;
  }


   .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;

     color: white;
     text-align: center;
   }
