<section id="listArmure" class="collapse">
  <div class="card mt-3">
    <div class="card-header bg-info text-white">
      <h3>Liste des Armures</h3>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Version</th>
          <th>Nom</th>
          <th>Type</th>
          <th>Description</th>
          <th>Defense</th>
          <th>Vitesse</th>
          <th>Prix Achat</th>
          <th>Prix Vente</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let armure of list()">
          <td>{{armure.id}}</td>
          <td>{{armure.version}}</td>
          <td>{{armure.nom}}</td>
          <td>{{armure.typearmure}}</td>
          <td>{{armure.description}}</td>
          <td>{{armure.defense}}</td>
          <td>{{armure.vitesse}}</td>
          <td>{{armure.prixAchat}}</td>
          <td>{{armure.prixVente}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <a class="btn btn-primary" data-target="#editArmure" data-toggle="collapse" aria-expanded="false"
                 aria-controls="editArmure" (click)="edit(armure.id)"><i class="fa fa-edit"></i></a>
              <!--              data-target="#editArmure" data-toggle="collapse" aria-expanded="false" aria-controls="editArmure"-->

              <!--              <a class="btn btn-primary" href="#editArme" data-toggle="collapse" aria-expanded="false" aria-controls="editArme" (click)="editArme(arme.id)"><i class="fa fa-edit"></i></a>-->
              <a class="btn btn-danger" (click)="delete(armure.id)"><i class="fa fa-trash"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-dark" type="button" data-target="#editArmure" data-toggle="collapse" aria-expanded="false"
            aria-controls="editArmure" (click)="add()">
      <!--      data-target="#editArme" data-toggle="collapse" aria-expanded="false" aria-controls="editArme"-->
      <i class="fa fa-plus"></i>
    </button>
  </div>
</section>


<section id="editArmure" class="collapse">
  <div class="card mt-3" *ngIf="armureForm">
    <div class="card-header bg-info text-white">
      <h3>Edition de l'armure</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="string" class="form-control" id="nom" [(ngModel)]="armureForm.nom">
      </div>
      <div class="form-group">
        <label for="typeArmure">Type :</label>
        <select class="form-control" id="typeArmure" [(ngModel)]="armureForm.typearmure">
          <option value="bouclier">bouclier</option>
          <option value="casque">casque</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description :</label>
        <input type="string" class="form-control" id="description" [(ngModel)]="armureForm.description">
      </div>
      <div class="form-group">
        <label for="defense">Defense :</label>
        <input type="number" class="form-control" id="defense" [(ngModel)]="armureForm.defense">
      </div>
      <div class="form-group">
        <label for="vitesse">Vitesse :</label>
        <input type="number" class="form-control" id="vitesse" [(ngModel)]="armureForm.vitesse">
      </div>
      <div class="form-group">
        <label for="prixAchat">Prix Achat :</label>
        <input type="number" class="form-control" id="prixAchat" [(ngModel)]="armureForm.prixAchat">
      </div>
      <div class="form-group">
        <label for="prixVente">Prix Vente :</label>
        <input type="number" class="form-control" id="prixVente" [(ngModel)]="armureForm.prixVente">
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
        <a class="btn btn-success" (click)="save()">
          <i class="fa fa-check"></i>
        </a>
        <a class="btn btn-warning" (click)="cancel()">
          <i class="fa fa-sync"></i>
        </a>
      </div>
    </div>
  </div>
</section>
