<!--<section id="listHero" class="collapse">-->
<!--  <div class="card mt-3">-->
<!--    <div class="card-header bg-info text-white">-->
<!--      <h3>Liste des Heros</h3>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <table class="table table-striped">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>ID</th>-->
<!--          <th>Version</th>-->
<!--          <th>Nom</th>-->
<!--          <th>Type</th>-->
<!--          <th>coef Attaque</th>-->
<!--          <th>coef Defense</th>-->
<!--          <th>coef Vie</th>-->
<!--          <th>coef Precision</th>-->
<!--          <th>coef Vitesse</th>-->
<!--          <th>attaque</th>-->
<!--          <th>defense</th>-->
<!--          <th>vie</th>-->
<!--          <th>agilite</th>-->
<!--          <th>vitesse</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let hero of list()">-->
<!--          <td>{{hero.id}}</td>-->
<!--          <td>{{hero.version}}</td>-->
<!--          <td>{{hero.nom}}</td>-->
<!--          <td>{{hero.typePersonnage}}</td>-->
<!--          <td>{{hero.coefAttaque}}</td>-->
<!--          <td>{{hero.coefDefense}}</td>-->
<!--          <td>{{hero.coefVie}}</td>-->
<!--          <td>{{hero.coefPrecision}}</td>-->
<!--          <td>{{hero.coefVitesse}}</td>-->
<!--          <td>{{hero.attaque}}</td>-->
<!--          <td>{{hero.defense}}</td>-->
<!--          <td>{{hero.vie}}</td>-->
<!--          <td>{{hero.agilite}}</td>-->
<!--          <td>{{hero.vitesse}}</td>-->
<!--          <td>-->
<!--            <div class="btn-group btn-group-sm">-->
<!--              <a class="btn btn-primary" data-target="#editHero" data-toggle="collapse" aria-expanded="false"-->
<!--                 aria-controls="editHero" (click)="edit(hero.id)"><i class="fa fa-edit"></i></a>-->
<!--              &lt;!&ndash;              data-target="#editArme" data-toggle="collapse" aria-expanded="false" aria-controls="editArme"&ndash;&gt;-->

<!--              &lt;!&ndash;                            <a class="btn btn-primary" href="#editArme" data-toggle="collapse" aria-expanded="false" aria-controls="editArme" (click)="edit(arme.id)"><i class="fa fa-edit"></i></a>&ndash;&gt;-->
<!--              <a class="btn btn-danger" (click)="delete(hero.id)"><i class="fa fa-trash"></i></a>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="card-footer">-->
<!--    <button class="btn btn-dark" type="button" data-target="#editHero" data-toggle="collapse" aria-expanded="false"-->
<!--            aria-controls="editHero" (click)="add()">-->
<!--      &lt;!&ndash;      data-target="#editArme" data-toggle="collapse" aria-expanded="false" aria-controls="editArme"&ndash;&gt;-->
<!--      <i class="fa fa-plus"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--</section>-->


<!--<section id="editHero" class="collapse">-->
<!--  <div class="card mt-3" *ngIf="heroForm">-->
<!--    <div class="card-header bg-info text-white">-->
<!--      <h3>Edition du Hero</h3>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <div class="form-group">-->
<!--        <label for="nom">Nom :</label>-->
<!--        <input type="string" class="form-control" id="nom" [(ngModel)]="heroForm.nom">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="typePersonnage">Type :</label>-->
<!--        <select class="form-control" id="typePersonnage" [(ngModel)]="heroForm.typePersonnage">-->
<!--          <option value="elf">elf</option>-->
<!--          <option value="guerrier">guerrier</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="coefAttaque">coef Attaque :</label>-->
<!--        <input type="number" class="form-control" id="coefAttaque" [(ngModel)]="heroForm.coefAttaque">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="coefDefense">coef Defense :</label>-->
<!--        <input type="number" class="form-control" id="coefDefense" [(ngModel)]="heroForm.coefDefense">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="coefVie">coef Vie :</label>-->
<!--        <input type="number" class="form-control" id="coefVie" [(ngModel)]="heroForm.coefVie">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="coefPrecision">coef Precision :</label>-->
<!--        <input type="number" class="form-control" id="coefPrecision" [(ngModel)]="heroForm.coefPrecision">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="coefVitesse">coef Vitesse :</label>-->
<!--        <input type="number" class="form-control" id="coefVitesse" [(ngModel)]="heroForm.coefVitesse">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="attaque">Attaque :</label>-->
<!--        <input type="number" class="form-control" id="attaque" [(ngModel)]="heroForm.attaque">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="defense">Defense :</label>-->
<!--        <input type="number" class="form-control" id="defense" [(ngModel)]="heroForm.defense">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="vie">Vie :</label>-->
<!--        <input type="number" class="form-control" id="vie" [(ngModel)]="heroForm.vie">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="agilite">Agilite :</label>-->
<!--        <input type="number" class="form-control" id="agilite" [(ngModel)]="heroForm.agilite">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="vitesse">Vitesse :</label>-->
<!--        <input type="number" class="form-control" id="vitesse" [(ngModel)]="heroForm.vitesse">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-footer">-->
<!--      <div class="btn-group btn-group-lg float-right">-->
<!--        <a class="btn btn-success" (click)="save()">-->
<!--          <i class="fa fa-check"></i>-->
<!--        </a>-->
<!--        <a class="btn btn-warning" (click)="cancel()">-->
<!--          <i class="fa fa-sync"></i>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->



<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <!--<canvas class="my-4 w-100" id="myChart" width="0" height="0"></canvas>-->

  <section id="listHero" class="collapse">
    <h2>Liste des Héros</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
        <tr>
          <th>ID</th>
          <th>Version</th>
          <th>Nom</th>
          <th>Type</th>
          <th>coef Attaque</th>
          <th>coef Defense</th>
          <th>coef Vie</th>
          <th>coef Precision</th>
          <th>coef Vitesse</th>
          <th>attaque</th>
          <th>defense</th>
          <th>vie</th>
          <th>agilite</th>
          <th>vitesse</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of list()">
          <td>{{hero.id}}</td>
          <td>{{hero.version}}</td>
          <td>{{hero.nom}}</td>
          <td>{{hero.typePersonnage}}</td>
          <td>{{hero.coefAttaque}}</td>
          <td>{{hero.coefDefense}}</td>
          <td>{{hero.coefVie}}</td>
          <td>{{hero.coefPrecision}}</td>
          <td>{{hero.coefVitesse}}</td>
          <td>{{hero.attaque}}</td>
          <td>{{hero.defense}}</td>
          <td>{{hero.vie}}</td>
          <td>{{hero.agilite}}</td>
          <td>{{hero.vitesse}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <a class="btn btn-primary" data-target="#editHero" data-toggle="collapse" aria-expanded="false"
                 aria-controls="editHero" (click)="edit(hero.id)"><i class="fa fa-edit"></i></a>
              <a class="btn btn-danger" (click)="delete(hero.id)"><i class="fa fa-trash"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button class="btn btn-dark" type="button" data-target="#editHero" data-toggle="collapse" aria-expanded="false"
              aria-controls="editHero" (click)="add()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </section>


  <section id="editHero" class="collapse">
    <div class="card mt-3" *ngIf="heroForm">
      <div class="card text-dark bg-light mb-3">
        <h3>Edition Potion</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input type="string" class="form-control" id="nom" [(ngModel)]="heroForm.nom">
        </div>
        <div class="form-group">
          <label for="typePersonnage">Type :</label>
          <select class="form-control" id="typePersonnage" [(ngModel)]="heroForm.typePersonnage">
            <option value="elf">elf</option>
            <option value="guerrier">guerrier</option>
          </select>
        </div>
        <div class="form-group">
          <label for="coefAttaque">coef Attaque :</label>
          <input type="number" class="form-control" id="coefAttaque" [(ngModel)]="heroForm.coefAttaque">
        </div>
        <div class="form-group">
          <label for="coefDefense">coef Defense :</label>
          <input type="number" class="form-control" id="coefDefense" [(ngModel)]="heroForm.coefDefense">
        </div>
        <div class="form-group">
          <label for="coefVie">coef Vie :</label>
          <input type="number" class="form-control" id="coefVie" [(ngModel)]="heroForm.coefVie">
        </div>
        <div class="form-group">
          <label for="coefPrecision">coef Precision :</label>
          <input type="number" class="form-control" id="coefPrecision" [(ngModel)]="heroForm.coefPrecision">
        </div>
        <div class="form-group">
          <label for="coefVitesse">coef Vitesse :</label>
          <input type="number" class="form-control" id="coefVitesse" [(ngModel)]="heroForm.coefVitesse">
        </div>
        <div class="form-group">
          <label for="attaque">Attaque :</label>
          <input type="number" class="form-control" id="attaque" [(ngModel)]="heroForm.attaque">
        </div>
        <div class="form-group">
          <label for="defense">Defense :</label>
          <input type="number" class="form-control" id="defense" [(ngModel)]="heroForm.defense">
        </div>
        <div class="form-group">
          <label for="vie">Vie :</label>
          <input type="number" class="form-control" id="vie" [(ngModel)]="heroForm.vie">
        </div>
        <div class="form-group">
          <label for="agilite">Agilite :</label>
          <input type="number" class="form-control" id="agilite" [(ngModel)]="heroForm.agilite">
        </div>
        <div class="form-group">
          <label for="vitesse">Vitesse :</label>
          <input type="number" class="form-control" id="vitesse" [(ngModel)]="heroForm.vitesse">
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
          <a class="btn btn-success" (click)="save()">
            <i class="fa fa-check"></i>
          </a>
          <a class="btn btn-warning" (click)="cancel()">
            <i class="fa fa-sync"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

</main>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.6/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="dashboard.js"></script>
