<div *ngIf="phase==0" class="card mt-3">

  <div class="card-header bg-info text-white">
    <h2>Liste des monstres disponibles pour un combat</h2>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Nom</th>
        <th>Type de monstre</th>
        <th>Vie</th>
        <th>Attaque</th>
        <th>Defense</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let mons of monstres">
        <td>{{mons.id}}</td>
        <td>{{mons.nom}}</td>
        <td>{{mons.typeMonstre}}</td>
        <td>{{mons.vie}}</td>
        <td>{{mons.attaque}}</td>
        <td>{{mons.defense}}</td>
        <td>
            <a class="btn btn-danger" (click)="initCombat(mons.id)">Combat</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>




<div *ngIf="phase==1" class="centralBlock">

<div class="battle-background">
  <img  id="bg" src="assets/BattleImage/floor/winter.jpg">
  <img src="assets/BattleImage/enemy/orc.png" id="enemy-sprite">
  <div id="enemy-info">

    <strong><p>Nom :  {{monstre.nom}}</p></strong>
    <div>
      <div class="hp-bar">
        <div
          [style.width]="(100*monstre.vie)/monstre.vie +'%'"
          style="background-color: white"
        ></div>
      </div>
    </div>
    <small>
      {{monstre.vie}} /
      {{vieMaxMonstre }}
    </small>

  </div>
  <br>
  <img src="assets/BattleImage/player/elf.png" id="player-sprite">
  <div id="player-info">

    <strong><p>Nom :  {{utilisateur.pseudo}}</p></strong>
    <div>
      <div class="hp-bar">
        <div
          [style.width]="(100*utilisateur.vie)/utilisateur.vie +'%'"
          style="background-color: white"
        ></div>
      </div>
    </div>
    <small>
      {{utilisateur.vie}} /
      {{utilisateur.vieMax}}
    </small>
  </div>
</div>

<div  class="menu" style="margin-top: 5px" *ngIf="potionPhase==1" >
 <div class="info" style="text-align: center;padding-top: 35px;" *ngIf="potionPhase==1">
   <p>Que voulez vous faire ?</p>
</div>


  <div class="option" >
    <button style="margin-top: 35px;margin-left:20px;margin-right: 15px;" (click)="attaquer()" type="button " class="btn btn-outline-dark btn-lg">Attaquer</button>
    <button  style="margin-top: 35px;margin-right: 15px;"(click)="fuir()"  type="button" class="btn btn-outline-dark btn-lg">Fuir</button>
    <button style="margin-top: 35px;margin-right: 15px;"(click)="potion()" type="button" class="btn btn-outline-dark btn-lg">Utiliser Potion</button>
  </div>

</div>

  <div  class="menu2" style="margin-top: 5px" *ngIf="potionPhase==0" >
    <a class="btn btn-outline-light" style="float: right;" (click)="annulerPotion()" >Annuler l'operation</a>

    <div class="card-body" >
    <table class="table table-striped">
      <thead>
      <tr>

        <th>Identifiant</th>
        <th>Nom</th>
        <th>Type de potion</th>
        <th>Puissance </th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let p of potions">
        <td>{{p.potion.id}}</td>
        <td>{{p.potion.nom}}</td>
        <td>{{p.potion.type}}</td>
        <td>{{p.potion.valeur}}</td>

        <td>
          <a class="btn btn-danger" (click)="utiliserPotion(utilisateur.id,p)">Utiliser la potion</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  </div>

</div>

<div *ngIf="phase==2" class="blockFuite" style="text-align: center">
  <img  id="Gmaesover" src="assets/BattleImage/gamesOver.jpg">
  <br>
  <br>
  <h5 style="margin-top: 3px;">Vous avez fuit le combat !</h5>
  <p>Toute fuite implique des malus pour votre utilisateur, votre arme et votre armure prinicpale ont disparu</p>
  <br>

  <a class="btn btn-outline-dark btn-lg"  style="margin-right: 15px;" [routerLink]="['/utilisateur']">Restaurer les attributs de votre heros</a>
  <a class="btn btn-outline-dark btn-lg ">Nouveau combat</a>

</div>

<div *ngIf="phase==4" class="blockFuite" style="text-align: center">
  <img style="margin-bottom: 15px;" id="win" src="assets/BattleImage/win.jpg">
  <a class="btn btn-outline-dark btn-lg"  style="margin-right: 15px;" (click)="seReposer()" >Restaurer les attributs de votre heros</a>
  <a class="btn btn-outline-dark btn-lg " [routerLink]="['/combat/1']">Nouveau combat</a>

</div>

<div *ngIf="phase==5" class="blockFuite" style="text-align: center">
  <img style="margin-bottom: 15px;" id="loose" src="assets/BattleImage/loose.jpg">
  <a class="btn btn-outline-dark btn-lg"  style="margin-right: 15px;" (click)="seReposer()">Restaurer vos attributs</a>
  <a class="btn btn-outline-dark btn-lg"  style="margin-right: 15px;" [routerLink]="['/utilisateur']">Changer vos caracteristiques</a>
  <a class="btn btn-outline-dark btn-lg " [routerLink]="['/']">Nouveau combat</a>

</div>

<div *ngIf="phase==6" class="blockFuite">
  <h1>Vous êtes apte au combat</h1>
  <a routerLinkActive="active" class="btn btn-outline-dark btn-lg " [routerLink]="['/']">Nouveau combat</a>
</div>







