<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <!--<canvas class="my-4 w-100" id="myChart" width="0" height="0"></canvas>-->

  <section id="listArme" class="collapse">
    <h2>Liste des Armes</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
        <tr>
          <th>ID</th>
          <th>Version</th>
          <th>Nom</th>
          <th>Type</th>
          <th>Description</th>
          <th>Attaque</th>
          <th>Agilite</th>
          <th>Prix Achat</th>
          <th>Prix Vente</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let arme of list()">
          <td>{{arme.id}}</td>
          <td>{{arme.version}}</td>
          <td>{{arme.nom}}</td>
          <td>{{arme.typearme}}</td>
          <td>{{arme.description}}</td>
          <td>{{arme.attaque}}</td>
          <td>{{arme.agilite}}</td>
          <td>{{arme.prixAchat}}</td>
          <td>{{arme.prixVente}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <a class="btn btn-primary" data-target="#editArme" data-toggle="collapse" aria-expanded="false"
                 aria-controls="editArme" (click)="edit(arme.id)"><i class="fa fa-edit"></i></a>
              <a class="btn btn-danger" (click)="delete(arme.id)"><i class="fa fa-trash"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button class="btn btn-dark" type="button" data-target="#editArme" data-toggle="collapse" aria-expanded="false"
              aria-controls="editArme" (click)="add()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </section>

  <section id="editArme" class="collapse">
    <div class="card mt-3" *ngIf="armeForm">
      <div class="card text-dark bg-light mb-3">
        <h3>Edition Arme</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input type="string" class="form-control" id="nom" [(ngModel)]="armeForm.nom">
        </div>
        <div class="form-group">
          <label for="typearme">Type :</label>
          <select class="form-control" id="typearme" [(ngModel)]="armeForm.typearme">
            <option value="epee">epee</option>
            <option value="lance">lance</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description :</label>
          <input type="string" class="form-control" id="description" [(ngModel)]="armeForm.description">
        </div>
        <div class="form-group">
          <label for="attaque">Attaque :</label>
          <input type="number" class="form-control" id="attaque" [(ngModel)]="armeForm.attaque">
        </div>
        <div class="form-group">
          <label for="agilite">Agilite :</label>
          <input type="number" class="form-control" id="agilite" [(ngModel)]="armeForm.agilite">
        </div>
        <div class="form-group">
          <label for="prixAchat">Prix Achat :</label>
          <input type="number" class="form-control" id="prixAchat" [(ngModel)]="armeForm.prixAchat">
        </div>
        <div class="form-group">
          <label for="prixVente">Prix Vente :</label>
          <input type="number" class="form-control" id="prixVente" [(ngModel)]="armeForm.prixVente">
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
          <a class="btn btn-success" (click)="save()">
            <i class="fa fa-check"></i>
          </a>
          <a class="btn btn-warning" (click)="cancel()">
            <i class="fa fa-sync"></i>
          </a>
        </div>
      </div>
    </div>
  </section>


</main>



