<br/>
<br/>
<br/>
<br/>
<div>
  &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-secondary" data-target="#listCompte" data-toggle="collapse" aria-expanded="false"
          aria-controls="listCompte">Gestion des Comptes</button>
  &nbsp;&nbsp;&nbsp;
  <!--<a class="btn btn-secondary" href="#listArme" data-toggle="collapse" aria-expanded="false" aria-controls="listArme">Balise a</a>-->
  <button type="button" class="btn btn-secondary" data-target="#listArme" data-toggle="collapse" aria-expanded="false"
          aria-controls="listArme">Gestion des Armes</button>
  &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-secondary" data-target="#listArmure" data-toggle="collapse" aria-expanded="false"
          aria-controls="listArmure">Gestion des Armures</button>
  &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-secondary" data-target="#listPotion" data-toggle="collapse" aria-expanded="false"
          aria-controls="listPotion">Gestion des Potions</button>
  &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-secondary" data-target="#listhero" data-toggle="collapse" aria-expanded="false"
          aria-controls="listhero">Gestion des Héros</button>
  &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-secondary" data-target="#listmonstre" data-toggle="collapse" aria-expanded="false"
          aria-controls="listmonstre">Gestion des Monstres</button>
  &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-secondary" data-target="#listmarchand" data-toggle="collapse" aria-expanded="false"
          aria-controls="listmarchand">Gestion des Marchands</button>
  &nbsp;&nbsp;&nbsp;
</div>
<app-arme>
</app-arme>
<app-armure>
</app-armure>
<app-potion>
</app-potion>


<section id="listCompte" class="collapse">
  <div class="card mt-3">
    <div class="card-header bg-info text-white">
      <h3>Liste des Admins</h3>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Version</th>
          <th>Pseudo</th>
          <th>Mail</th>
          <th>MDP</th>
          <th>Enable</th>
          <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let admin of list()">
          <td>{{admin.id}}</td>
          <td>{{admin.version}}</td>
          <td>{{admin.pseudo}}</td>
          <td>{{admin.mail}}</td>
          <td>{{admin.mdp}}</td>
          <td>{{admin.enable}}</td>
          <td>{{admin.role}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <a class="btn btn-primary" data-target="#editAdmin" data-toggle="collapse" aria-expanded="false"
                 aria-controls="editAdmin" (click)="edit(admin.id)"><i class="fa fa-edit"></i></a>
              <!--              data-target="#editArme" data-toggle="collapse" aria-expanded="false" aria-controls="editArme"-->

              <!--                            <a class="btn btn-primary" href="#editArme" data-toggle="collapse" aria-expanded="false" aria-controls="editArme" (click)="edit(arme.id)"><i class="fa fa-edit"></i></a>-->
              <a class="btn btn-danger" (click)="delete(admin.id)"><i class="fa fa-trash"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-dark" type="button" data-target="#editAdmin" data-toggle="collapse" aria-expanded="false"
            aria-controls="editAdmin" (click)="add()">
      <!--      data-target="#editArme" data-toggle="collapse" aria-expanded="false" aria-controls="editArme"-->
      <i class="fa fa-plus"></i>
    </button>
  </div>
</section>


<section id="editAdmin" class="collapse">
  <div class="card mt-3" *ngIf="adminForm">
    <div class="card-header bg-info text-white">
      <h3>Edition de l'admin</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="pseudo">Pseudo :</label>
        <input type="string" class="form-control" id="pseudo" [(ngModel)]="adminForm.pseudo">
      </div>
      <div class="form-group">
        <label for="mail">Mail :</label>
        <input type="string" class="form-control" id="mail" [(ngModel)]="adminForm.mail">
      </div>
      <div class="form-group">
        <label for="mdp">MDP :</label>
        <input type="string" class="form-control" id="mdp" [(ngModel)]="adminForm.mdp">
      </div>
      <div class="form-group">
        <label for="enable">Enable :</label>
        <select type="boolean" class="form-control" id="enable" [(ngModel)]="adminForm.enable">
        <option value="true">true</option>
        <option value="false">false</option>
        </select>
      </div>
      <div class="form-group">
        <label for="role">Role :</label>
        <select class="form-control" id="role" [(ngModel)]="adminForm.role">
          <option value="ADMIN">Admin</option>
          <option value="USER">User</option>
        </select>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
        <a class="btn btn-success" (click)="save()">
          <i class="fa fa-check"></i>
        </a>
        <a class="btn btn-warning" (click)="cancel()">
          <i class="fa fa-sync"></i>
        </a>
      </div>
    </div>
  </div>
</section>
