<!--<!doctype html>-->
<!--<html lang="fr">-->
<head>


</head>
<body class="bg-light">

<div class="container">
  <div class="py-5 text-center">
    <h2>Inscription</h2>
    <p class="lead">
      Prêt à débuter une nouvelle aventure ?
      <br/>
      Débute cette aventure par la création d'un compte utilisateur.
    </p>
  </div>

  <form class="form-info">
  <div class="">
    <div class="">
      <h4 class="mb-3">Informations de compte</h4>
      <form class="needs-validation" novalidate>

        <div class="mb-3">
          <label for="pseudo">Pseudo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">#</span>
            </div>
            <input type="text" class="form-control" id="pseudo" placeholder="Pseudo" required [(ngModel)]="inscForm.pseudo" >
          </div>
        </div>

        <div class="mb-3">
          <label for="mail">Adresse email</label>
          <input type="text" class="form-control" id="mail" placeholder="adresse@email.com" [(ngModel)]="inscForm.mail" >
        </div>

        <div class="mb-3">
          <label for="mdp">Mot de passe</label>
          <input type="text" class="form-control" id="mdp" placeholder="·····················" required [(ngModel)]="inscForm.mdp" >
        </div>


        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="save()">S'inscrire</button>
      </form>
    </div>
  </div>
  </form>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 FAXs Games</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>



<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"-->
<!--        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="/docs/4.6/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>-->
<!--<script src="/docs/4.6/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"-->
<!--        crossorigin="anonymous"></script>-->

</body>
<!--</html>-->
